.grid-wrap {
  flex:            1;
  overflow:        auto;
  display:         flex;
  align-items:     center;
  justify-content: center;
  padding:         20px;

  .char-grid {
    display:               grid;
    grid-template-columns: repeat(7, 154px);
    gap:                   6px;
  }
}
